In [5]:

%%writefile app.py

import streamlit as st

def main():
    #title
    st.markdown("check your eligiblity")

    #loading the data

    #following lines create boxes in which user can enter data
    Gender=st.selectbox('gender',("male","female","other"))
    Married=st.selectbox('marital status',("unmarried","married","other"))
    ApplicantIncome=st.number_input("monthly income in rupees")
    LoanAmount=st.number_input("loan amount in rupees")
    result=""
    
# defining the function which will make the prediction using the data which the user inputs 
def prediction(Gender, Married, ApplicantIncome, LoanAmount):

    # 3. Building the model to automate Loan Eligibility
    if (ApplicantIncome >= 100):
        loan_status = 'Approved'
    elif (LoanAmount < 100):
        loan_status = 'Approved'
    else:
        loan_status = 'Rejected'
    return loan_status
     
if __name__=='__main__': 
    main()

Overwriting app.py

In [9]:
from pyngrok import ngrok
public_url=ngrok.connect('8501')
public_url

t=2022-09-11T19:46:10+0530 lvl=warn msg="failed to open private leg" id=c9760d7465e1 privaddr=localhost:8501 err="dial tcp [::1]:8501: connectex: No connection could be made because the target machine actively refused it."
t=2022-09-11T19:46:25+0530 lvl=warn msg="failed to open private leg" id=77f58efae2a1 privaddr=localhost:8501 err="dial tcp [::1]:8501: connectex: No connection could be made because the target machine actively refused it."
t=2022-09-11T19:46:28+0530 lvl=warn msg="failed to open private leg" id=0fcc0e23c530 privaddr=localhost:8501 err="dial tcp [::1]:8501: connectex: No connection could be made because the target machine actively refused it."
t=2022-09-11T19:46:37+0530 lvl=warn msg="failed to open private leg" id=56e2799e84b2 privaddr=localhost:8501 err="dial tcp [::1]:8501: connectex: No connection could be made because the target machine actively refused it."
t=2022-09-11T19:46:40+0530 lvl=warn msg="failed to open private leg" id=3c953b35a106 privaddr=localhost:8501 err="dial tcp [::1]:8501: connectex: No connection could be made because the target machine actively refused it."

In [10]:
import pandas as pd
train=pd.read_csv('loan_data.csv')

In [11]:
train.head

  Gender Married  ApplicantIncome  LoanAmount Loan_Status
0   Male     Yes             4583    128000.0           N
1   Male     Yes             3000     66000.0           Y
2   Male     Yes             2583    120000.0           Y
3   Male      No             6000    141000.0           Y
4   Male     Yes             5417    267000.0           Y

In [ ]:
#convert categories into numbers
train['Gender']=train['Gender'].map()